html{
    scroll-behavior: smooth;
  }
body {
  background: linear-gradient( 90deg,#5f5fcd,#5f5fcd,#5151c0, #3747c3, #253d8a );
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
a{
    text-decoration: none;
}
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1072px;
    background: url(img/4220458_l.jpg);
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.178);
}
.title-blend{
    justify-content: center;
    mix-blend-mode: overlay; /* オーバーレイを指定 */
    color: rgb(0, 0, 0);
    font-size: 12vmax;
    font-weight: bold;
    opacity: 0;
    animation: fadein 4s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}




@media screen and (max-width:768px) {
    .none{
        display: none;
    }

/*それぞれのBOX*/
.card {
    padding:16px;
    margin: 8px;
}
.container{
    flex-wrap: wrap;
}

/*part1*/
.bg-top{
    background: #ffffff94;
    box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.089);
    height: 540px;
    margin-bottom: 160px;
}
.f-container-top{
    display: flex;
    justify-content: center;
}

.card-body1{
    position: relative;
    top: 0px;
    left: 80px;
    width: 80px;
    height: 240px;
    background: #fff;
    opacity: 0.6;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body2{
    position: relative;
    top: -280px;
    right: 0px;
    width: 100%;
    height: auto;
    background: transparent;
    box-shadow: 10px 0px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body02{
    position: relative;
    top: -280px;
    right: 0px;
    width: 240px;
    height: auto;
    background: transparent;
}


/*part2*/
.f-container-center{
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.scroll-title{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: block;
    color: #253d8a;
    font-weight: bold;
    font-size: 9vmax;
    padding-top: 8px;
    text-align: center;
    opacity: 0.4;
}

.bg-center{
    background: url();
}

    /* i can't stop me */
.card-body4{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body4:hover .mask-txt{
    opacity: 1;
}
    /* hell in heaven */
.card-body5{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body5:hover .mask-txt{
    opacity: 1;
}
    /* up no more */
.card-body6{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body6:hover .mask-txt{
    opacity: 1;
}

    /*do what we like */
.card-body7{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body7:hover .mask-txt{
    opacity: 1;
}
    /* bring it back */
.card-body8{
    position: relative;
    top:0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body8:hover .mask-txt{
    opacity: 1;
}
    /* believer */
.card-body9{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body9:hover .mask-txt{
    opacity: 1;
}
    /* queen */
.card-body10{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body10:hover .mask-txt{
    opacity: 1;
}
    /* go dard */
.card-body11{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body11:hover .mask-txt{
    opacity: 1;
}
    /* shot clock */
.card-body12{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body12:hover .mask-txt{
    opacity: 1;
}
    /* handle it */
.card-body13{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body13:hover .mask-txt{
    opacity: 1;
}
    /* depend un you */
.card-body14{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body14:hover .mask-txt{
    opacity: 1;
}
    /* say something */
.card-body15{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body15:hover .mask-txt{
    opacity: 1;
}
    /*behind the mask */
.card-body16{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body16:hover .mask-txt{
    opacity: 1;
}
.card-body-tran{
    position: relative;
    right: 0px;
    width: 240px;
    height: 480px;
    background-color: transparent;
}
.title-txt{
    display: flex;
    position: absolute;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px #ffffff;
}
.caption-txt{
    font-size:130%;
	color:#fff;
}
.mask-txt{
    width:100%;
	height:100%;
	position:absolute;
    display: flex;
    align-items: flex-end;
	top:0;
	left:0;

	background-color:rgba(0, 0, 0, 0.39);
	-webkit-transition:	all 0.6s ease;
	transition:all 0.6s ease;
}



/* part3*/
.f-container-link{
    padding-bottom:16px ;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;    
}
.bg-link{
    background: rgba(255, 255, 255, 0.692);
    opacity: 0.9;
}
.card-body-link-1{
    position: relative;
}
.card-body-link-2{
    width: 240px;
    position: relative;
    top: -32px;
}


/* part4*/
.f-container-bottom{
    padding-bottom:16px ;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-bottom{
    margin: 80px 0;
    background: transparent;
}
.card-body-btm-pic{
    position: relative;
    box-shadow: 5px 5px 10px 6px #00000070;
    top: 0px;
}
.flowbtn-twice{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    text-decoration:none;
    transition:.5s;
    background-color:rgb(148, 18, 18);
    color:#fff;
}
/* ボタンマウスホバー時のテキスト指定 */
.flowbtn-twice:hover{
    text-decoration:none;
}
/* アイコンをど真ん中に */
.flowbtn-twice i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.card-body-btm-sns{
    position: relative;
    top: -48px;
    right: 0px;
}
.card-body-btm-txt{
    position: relative;
    top: -124px;
    right: 0px;
}
.card-body-btm-sq{
    display: flex;
}
.card-body-btm-sq a:visited{
    color: #fff;
}

.square1{
    position: relative;
    top: 0px;
    right: 8px;
    background: linear-gradient( 45deg,#9acd32, #258a85 );
    text-align: center;
    color:transparent;
}
.square2{
    position: relative;
    top: 0px;
    right: -8px;
    background: linear-gradient( 45deg,#bc2dcf, #25518a );
    text-align: center;
    color: transparent;
}


/* part5*/
.f-container-foot{
    padding-bottom:16px ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-foot{
    background: #272343;
    color: #fff;
}
.card-foot1{
    width: 240px;
    height: 240px;
    background: #b1a2c2;
    position: relative;
    top:0px;
    text-align: center;
}
.card-foot2{
    width: 240px;
    height: auto;
    position: relative;
}
.sns-btn{
    margin-top: 32px;
    width: 240px;
    height: 48px;
    border: 1px solid transparent;
    background-color: #fff;
}

.btn-txt{
    text-align: center;
}
/*フェードイン*/
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
  }
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*phoneここまで*/

/*ここからミディアム*/
@media screen and (min-width:768px) and (max-width:1295px) {

    .none{
        display: none;
    }

/*それぞれのBOX*/
.card {
    padding:24px;
    margin: 16px;
}
.container{
    flex-wrap: wrap;
}

/*part1*/
.bg-top{
    background: #ffffff94;
    box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.089);
    height: 720px;
    margin-bottom: 160px;
}
.f-container-top{
    display: flex;
    justify-content: center;
}

.card-body1{
    position: relative;
    top: -80px;
    right: 240px;
    width: 160px;
    height: 480px;
    background: #fff;
    opacity: 0.6;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body2{
    position: relative;
    top: -560px;
    right: 0px;
    width: 100%;
    height: auto;
    background: transparent;
    box-shadow: 10px 0px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body02{
    position: relative;
    top: -560px;
    right: 0px;
    width: 280px;
    height: auto;
    background: transparent;
}


/*part2*/
.f-container-center{
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.scroll-title{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: block;
    color: #253d8a;
    font-weight: bold;
    font-size: 9vmax;
    padding-top: 8px;
    text-align: center;
    opacity: 0.4;
}

.bg-center{
    background: url();
}

    /* i can't stop me */
.card-body4{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body4:hover .mask-txt{
    opacity: 1;
}
    /* hell in heaven */
.card-body5{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body5:hover .mask-txt{
    opacity: 1;
}
    /* up no more */
.card-body6{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body6:hover .mask-txt{
    opacity: 1;
}

    /*do what we like */
.card-body7{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body7:hover .mask-txt{
    opacity: 1;
}
    /* bring it back */
.card-body8{
    position: relative;
    top:0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body8:hover .mask-txt{
    opacity: 1;
}
    /* believer */
.card-body9{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body9:hover .mask-txt{
    opacity: 1;
}
    /* queen */
.card-body10{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body10:hover .mask-txt{
    opacity: 1;
}
    /* go dard */
.card-body11{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body11:hover .mask-txt{
    opacity: 1;
}
    /* shot clock */
.card-body12{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body12:hover .mask-txt{
    opacity: 1;
}
    /* handle it */
.card-body13{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body13:hover .mask-txt{
    opacity: 1;
}
    /* depend un you */
.card-body14{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body14:hover .mask-txt{
    opacity: 1;
}
    /* say something */
.card-body15{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body15:hover .mask-txt{
    opacity: 1;
}
    /*behind the mask */
.card-body16{
    position: relative;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body16:hover .mask-txt{
    opacity: 1;
}
.card-body-tran{
    position: relative;
    right: 0px;
    width: 240px;
    height: 480px;
    background-color: transparent;
}
.title-txt{
    display: flex;
    position: absolute;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px #ffffff;
}
.caption-txt{
    font-size:130%;
	color:#fff;
}
.mask-txt{
    width:100%;
	height:100%;
	position:absolute;
    display: flex;
    align-items: flex-end;
	top:0;
	left:0;

	background-color:rgba(0, 0, 0, 0.39);
	-webkit-transition:	all 0.6s ease;
	transition:all 0.6s ease;
}



/* part3*/
.f-container-link{
    padding-bottom:16px ;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;    
}
.bg-link{
    margin: 80px 0;
    background: rgba(255, 255, 255, 0.692);
    opacity: 0.9;
}
.card-body-link-1{
    position: relative;
    box-shadow: 5px 5px 10px 6px #00000070;
}
.card-body-link-2{
    width: 240px;
    position: relative;
}


/* part4*/
.f-container-bottom{
    padding-bottom:16px ;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-bottom{
    margin: 80px 0;
    background: transparent;
}
.card-body-btm-pic{
    position: relative;
    box-shadow: 5px 5px 10px 6px #00000070;
    top: 160px;
}
.flowbtn-twice{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    text-decoration:none;
    transition:.5s;
    background-color:rgb(148, 18, 18);
    color:#fff;
}
/* ボタンマウスホバー時のテキスト指定 */
.flowbtn-twice:hover{
    text-decoration:none;
}
/* アイコンをど真ん中に */
.flowbtn-twice i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.card-body-btm-sns{
    position: relative;
    top: 80px;
    right: -240px;
}
.card-body-btm-txt{
    position: relative;
    top: 0px;
    right: 0px;
}
.card-body-btm-sq{
    display: flex;
}
.card-body-btm-sq a:visited{
    color: #fff;
}
.square1{
    margin-right: 42px;
    top: -80px;
    position: relative;
    width: 320px;
    height: 50px;
    background: linear-gradient( 45deg,#9acd32, #258a85 );
    text-align: center;
    color:transparent;
}
.square2{
    margin-left: 42px;
    top: -80px;
    position: relative;
    width: 320px;
    height: 50px;
    background: linear-gradient( 45deg,#bc2dcf, #25518a );
    text-align: center;
    color: transparent;
}



/* part5*/
.f-container-foot{
    padding-bottom:16px ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-foot{
    background: #272343;
    color: #fff;
}
.card-foot1{
    width: 560px;
    height: 480px;
    background: #b1a2c2;
    position: relative;
    top:0px;
    text-align: center;
}
.card-foot2{
    width: 320px;
    height: auto;
    position: relative;
}
.sns-btn{
    margin-top: 32px;
    width: 320px;
    height: 48px;
    border: 1px solid transparent;
    background-color: #fff;
}

.btn-txt{
    text-align: center;
}
/*フェードイン*/
.fade-in {
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
  }
  
  .fade-in-up {
    transform: translate(0, 50px);
  }
  
  .fade-in-down {
    transform: translate(0, -50px);
  }
  
  .fade-in-left {
    transform: translate(-50px, 0);
  }
  
  .fade-in-right {
    transform: translate(50px, 0);
  }
  
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/*ミディアムここまで*/


/*ここからPC*/
@media screen and (min-width:1295px) {
.media-music{
    display: none;
}

/*それぞれのBOX*/
.card {
    padding:24px;
    margin: 16px;
}

/*part1*/
.bg-top{
    background: #ffffff94;
    box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.089);
}
.f-container-top{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.card-body1{
    position: relative;
    top: -80px;
    right: -800px;
    width: 360px;
    height: 480px;
    background: #fff;
    opacity: 0.6;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body2{
    position: relative;
    top: 160px;
    right: 360px;
    width: 480px;
    height: auto;
    background: transparent;
    box-shadow: 10px 0px 20px 10px rgba(0, 0, 0, 0.178);
}
.card-body02{
    position: relative;
    top: 80px;
    right: 360px;
    width: 480px;
    height: auto;
    background: transparent;
}


/*part2*/
.f-container-center{
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.scroll-title{
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: block;
    color: #253d8a;
    font-weight: bold;
    font-size: 9vmax;
    padding-top: 8px;
    text-align: center;
    opacity: 0.4;
}

.bg-center{
    background: url();
}

    /* i can't stop me */
.card-body4{
    position: relative;
    top: -296px;
    right: -272px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body4:hover .mask-txt{
    opacity: 1;
}
    /* hell in heaven */
.card-body5{
    position: relative;
    top: 154px;
    right: 396px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body5:hover .mask-txt{
    opacity: 1;
}
    /* up no more */
.card-body6{
    position: relative;
    top: 396px;
    right: 320px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body6:hover .mask-txt{
    opacity: 1;
}

    /*do what we like */
.card-body7{
    position: relative;
    top: -280px;
    right: -480px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body7:hover .mask-txt{
    opacity: 1;
}
    /* bring it back */
.card-body8{
    position: relative;
    top:-160px;
    right: 420px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body8:hover .mask-txt{
    opacity: 1;
}
    /* believer */
.card-body9{
    position: relative;
    top: -720px;
    right: 180px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body9:hover .mask-txt{
    opacity: 1;
}
    /* queen */
.card-body10{
    position: relative;
    top: -480px;
    right: -320px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body10:hover .mask-txt{
    opacity: 1;
}
    /* go dard */
.card-body11{
    position: relative;
    top: -160px;
    right: 480px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body11:hover .mask-txt{
    opacity: 1;
}
    /* shot clock */
.card-body12{
    position: relative;
    top: -720px;
    right: 240px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body12:hover .mask-txt{
    opacity: 1;
}
    /* handle it */
.card-body13{
    position: relative;
    top: -240px;
    right: 240px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
    background: url(img/4177990_s.jpg);
}
.card-body13:hover .mask-txt{
    opacity: 1;
}
    /* depend un you */
.card-body14{
    position: relative;
    top: -880px;
    right: -720px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body14:hover .mask-txt{
    opacity: 1;
}
    /* say something */
.card-body15{
    position: relative;
    top: -540px;
    right: 400px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body15:hover .mask-txt{
    opacity: 1;
}
    /*behind the mask */
.card-body16{
    position: relative;
    top: -240px;
    right: 160px;
    width: 240px;
    height: 480px;
    box-shadow: 5px 5px 10px 6px #00000070;
   background: url(img/4177990_s.jpg);
}
.card-body16:hover .mask-txt{
    opacity: 1;
}
.card-body-tran{
    position: relative;
    right: 0px;
    width: 240px;
    height: 480px;
    background-color: transparent;
}
.title-txt{
    display: flex;
    position: absolute;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px #ffffff;
}
.caption-txt{
    font-size:130%;
	color:#fff;
}
.mask-txt{
    width:100%;
	height:100%;
	position:absolute;
    display: flex;
    align-items: flex-end;
	top:0;
	left:0;
	opacity:0;	/* マスクを表示しない */
	background-color:rgba(0, 0, 0, 0.562);
	-webkit-transition:	all 0.6s ease;
	transition:all 0.6s ease;
}



/* part3*/
.f-container-link{
    padding-bottom:16px ;
    height: 560px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;    
}
.bg-link{
    margin: 80px 0;
    background: rgba(255, 255, 255, 0.692);
    opacity: 0.9;
}
.card-body-link-1{
    position: relative;
    box-shadow: 5px 5px 10px 6px #00000070;
}
.card-body-link-2{
    position: relative;
}


/* part4*/
.f-container-bottom{
    padding-bottom:16px ;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-bottom{
    margin: 80px 0;
    background: transparent;
}
.card-body-btm-pic{
    box-shadow: 5px 5px 10px 6px #00000070;
}
.flowbtn-twice{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    text-decoration:none;
    transition:.5s;
    background-color:rgb(148, 18, 18);
    color:#fff;
}
/* ボタンマウスホバー時のテキスト指定 */
.flowbtn-twice:hover{
    text-decoration:none;
}
/* アイコンをど真ん中に */
.flowbtn-twice i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.card-body-btm-sns{
    position: relative;
    top: -72px;
    right: -240px;
}
.card-body-btm-txt{
    position: relative;
    top: -224px;
    right: 0px;
}
.card-body-btm-sq{
    display: flex;
}
.card-body-btm-sq a:visited{
    color: #fff;
}
.square1{
    margin-right: 42px;
    top: -160px;
    position: relative;
    width: 320px;
    height: 50px;
    background: linear-gradient( 45deg,#9acd32, #258a85 );
    text-align: center;
    color:transparent;
}
.square2{
    margin-left: 42px;
    top: -160px;
    position: relative;
    width: 320px;
    height: 50px;
    background: linear-gradient( 45deg,#bc2dcf, #25518a );
    text-align: center;
    color: transparent;
}


/* part5*/
.f-container-foot{
    padding-bottom:16px ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight:lighter;
}
.bg-foot{
    background: #272343;
    color: #fff;
}
.card-foot1{
    width: 560px;
    height: 480px;
    background: #b1a2c296;
    position: relative;
    text-align: center;
    top: -80px;
}
.card-foot2{
    width: 320px;
    height: auto;
    position: relative;
}
.sns-btn{
    margin-top: 32px;
    width: 320px;
    height: 48px;
    border: 1px solid #fff;
    background-color: transparent;
}
.sns-btn:hover{
    margin-top: 32px;
    width: 320px;
    height: 48px;
    border: 1px solid transparent;
    background-color: #fff;
    color: transparent;
}
.btn-txt{
    text-align: center;
}


/*フェードイン*/
.fade-in {
    opacity: 0;
    transition-duration: 1500ms;
    transition-property: opacity, transform;
  }
  
  .fade-in-up {
    transform: translate(0, 50px);
  }
  
  .fade-in-down {
    transform: translate(0, -50px);
  }
  
  .fade-in-left {
    transform: translate(-50px, 0);
  }
  
  .fade-in-right {
    transform: translate(50px, 0);
  }
  
  .scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }

}

  